@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Moul&family=Suwannaphum:wght@400;700;900&family=Kantumruy+Pro:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-battambang: "Battambang", sans-serif;
  --font-moul: "Moul", serif;
  --font-suwannaphum: "Suwannaphum", serif;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
}

@layer utilities {
  .printable-a4 {
    min-height: 297mm;
    width: 210mm;
    box-sizing: border-box;
  }
}

@media print {
  @page {
    size: A4;
    margin: 20mm;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white !important;
  }
  
  /* Hide scrollbars during print */
  ::-webkit-scrollbar {
    display: none;
  }
}
