@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Battambang:wght@400;700&family=Moul&family=Suwannaphum:wght@400;700;900&family=Kantumruy+Pro:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Kantumruy Pro", ui-sans-serif, system-ui, sans-serif;
  --font-battambang: "Battambang", sans-serif;
  --font-moul: "Moul", serif;
  --font-suwannaphum: "Suwannaphum", serif;
  --font-kantumruy: "Kantumruy Pro", sans-serif;
  --font-times: "Times New Roman", Times, serif;
}

@layer utilities {
  .printable-a4 {
    min-height: 297mm;
    width: 210mm;
    box-sizing: border-box;
  }
}

@page {
  margin: 0mm;
}

@media print {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
  
  /* Hide scrollbars during print */
  ::-webkit-scrollbar {
    display: none;
  }
}
